{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "no-unused-vars": ["error", { "varsIgnorePattern": "_" }],
    "no-multi-spaces": "error",
    "no-invalid-this": "error",
    "no-trailing-spaces": "error",
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": "error",
    "camelcase": ["error", { "properties": "never" }],
    "comma-spacing": "error",
    "comma-style": "error",
    "@typescript-eslint/no-explicit-any": 0
  }
}
