// GLOBAL RULES/OVERRIDES:
@import "_vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap");

$title-font: "Chakra Petch", Arial, Helvetica, sans-serif;
$eyebrow-font: $title-font;
$body-font: $title-font;

:root {
  font-size: min(max(2.25vh, 14pt), 16pt);
}

.page-content {
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.44rem;
  letter-spacing: 0.01rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $title-font;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.03rem;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .eyebrow {
    font-size: 0.9rem;
    font-family: $eyebrow-font;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
  }
}

.Footer,
.scroll-arrow {
  font-family: $body-font;
  line-height: 0.9rem;
  letter-spacing: 0.01rem;
}

.navbar {
  font-family: $body-font;
  font-size: 2.4rem;
  letter-spacing: 0.01rem;
  @include for-small-desktop-down {
    font-size: 1.2rem;
  }
}

.page-content,
.navbar {
  .btn.btn-primary,
  .btn.btn-secondary {
    font-size: 0.7rem;
    font-family: $eyebrow-font;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
  }
}
