// GLOBAL RULES/OVERRIDES:
@import "_vars.scss";

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/firacode-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/firacode-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$body-font: "Fira Code", Arial, Helvetica, sans-serif;
$title-font: "Fira Code", Arial, Helvetica, sans-serif;
$eyebrow-font: "Fira Code", "Courier New", Courier, monospace;

:root {
  font-size: 14pt;
}

.page-content {
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.44rem;
  letter-spacing: 0.01rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $title-font;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 2.9rem;
    letter-spacing: 0.03rem;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .eyebrow {
    font-size: 0.9rem;
    font-family: $eyebrow-font;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
  }
}

.Footer,
.scroll-arrow {
  font-family: $body-font;
  line-height: 0.9rem;
  letter-spacing: 0.01rem;
}

.navbar {
  font-family: $body-font;
  font-size: 2.4rem;
  letter-spacing: 0.01rem;
  @include for-small-desktop-down {
    font-size: 1.2rem;
  }
}

.page-content,
.navbar {
  .btn.btn-primary,
  .btn.btn-secondary {
    font-size: 0.7rem;
    font-family: $eyebrow-font;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
  }
}
