@import "_vars.scss";
@import "_buttons.scss";
@import "_fonts.scss";
@import "_animations.scss";
@import "_globals.scss";

.header {
  background: black;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .description {
    flex: 1 1 50ch;
  }
  @media (max-width: 700px) {
    img {
      display: none;
    }
  }
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  place-items: center;
  text-align: center;
  h1 {
    font-weight: bold;
    margin: 1rem 0;
    margin-right: 2rem;
  }
}

.description {
  display: flex;
  margin: 0 2rem;
  max-width: 80ch;
}

.description p {
  max-width: unset !important;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
  gap: 3vw;
  a {
    background: $red;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0.5rem;
  }
  img {
    color: white;
    margin: 0 0.5rem 0 0;
  }
}
