@import "_vars.scss";

// PAGE CSS:

// Photo captions:
.caption {
  margin-top: 0.4rem;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}

.page-content {
  display: grid;
  grid-template-rows: 1fr auto;
  max-height: 100vh;
  @media (min-width: 700px) {
    .scroll-container {
      overflow-y: scroll;
      /* no idea why scroll-behavior: smooth messes up navigation */
    }
  }
}

.header-container {
  height: fit-content;
  top: 0;
  border-bottom: solid 1px white;
  z-index: 1;
  width: 100%;
  h1 {
    font-size: 1.5rem !important;
    margin: 0 !important;
    margin-right: 0.5rem !important;
  }
  .header {
    width: 100%;
    padding: 0.5rem;
    .title-container {
      margin: 0 !important;
    }
    .title {
      place-items: center;
      margin: 0 !important;
      h1 {
        text-align: center;
      }
      img {
        height: 1.5rem;
      }
    }
  }
  .title-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .links {
    place-items: center;
    place-content: center;
  }
}

/* needed because sticky header makes section navigation strange */
.link-target {
  position: absolute;
  top: -60px;
}

.city-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  img {
    height: 1.5rem;
  }
  span {
    font-size: 1.5rem;
    margin: 0;
  }
  margin: 1rem 0;
}

.evictor-profile {
  /* Since a .link-target is inside .evictor-profile, 
  and .link-target has position: absolute;
   */
  position: relative;
  .spacer {
    height: 10rem;
  }
}

.col-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .left,
  .right {
    flex: 1 1 50ch;
    max-width: 600px;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 0 1.5rem;
    .left-width-constrainer,
    .right-width-constrainer {
      /*
      flex: 1 1 50ch;
      width: 100%;
      max-width: 50ch;
      */
    }
  }

  .evictor-image-container {
    z-index: 0;
    position: relative;
  }

  h1 {
    background: $red;
    max-width: fit-content;
    hyphens: auto;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  .stat-name {
    font-weight: bold;
    text-transform: uppercase;
  }
  li {
    margin-left: 1rem;
  }
}

